
	body {
		background-color: #e3e0df;
		background-image: url("https://www.transparenttextures.com/patterns/connected.png");
	}
	.page {
		font-family: Verdana;
	}

	h3 {
		font-family: 'Aldrich', sans-serif;
		color: #4a69bd;
	}

	.input-group {
		width: 50%;
		margin-left: 25%;
	}

	.sendbtn {
		background: #4a69bd;
		color: white;
	}

	.sendbtn:hover, .sendbtn:focus, .sendbtn:active {
		background: #0c2461;
		color: white;
		outline: 0 !important;  
	}

	.browsebtn {
		background: #4a69bd;
		color: white;
	}
	.browsebtn:hover, .browsebtn:focus, .browsebtn:active {
		background: #4a69bd;
		color: white;
	}

	.surveilling {
      font-family: 'PT Sans', sans-serif;
      font-size: 20px;
    }

    #logo {
    	margin-top: 50px
	}