* {
	text-align: center;
} 

html, body {
    margin: 0;
    min-height: 100%;
}

html {
	overflow: auto;
}


.images {
	margin: auto;
	width: 50%;

}

#floorplan {
	align-items: center;
	top: 0;
	left: 0;
	max-height: 300px;
	max-width: 400px;
}

#normcam1 {
	position: fixed;
	float: left;
	top: 530px;
	left: 690px;
	transform: rotate(90deg);
}

#normcam2 {
	position: fixed;
	float: left;
	top: 340px;
	left: 515px;
}

#normcam3 {
	position: fixed;
	float: left;
	top: 315px;
	left: 655px;
	transform: rotate(60deg);
}

