<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8" />
		<link href="CCAM.css" type="text/css" rel="stylesheet">		
	</head>
	<body>
		<div class="images">
			<div class="floorplan">
				<img src="floorplan.png" alt="Floorplan" height="400" width="650" id="floorplan">
			</div>
			
			<img src="camalert.gif" alt="Cameras do not detect crime" height="60" width="80" id="normcam1">
			<img src="camalert.gif" alt="Cameras do not detect crime" height="60" width="80" id="normcam2">
			<img src="camalert.gif" alt="Cameras do not detect crime" height="60" width="80" id="normcam3">
		</div>
	
	</body>
</html>
